<a href="https://colab.research.google.com/github/Musaddiqua/AIL/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Add two numbers input by the user.
a = int(input("enter a:"))
b = int(input("enter b:"))
print("a+b =", a+b)

enter a:2
enter b:1
a+b = 3

In [ ]:
#Find the area of a circle.
r = int(input("enter the value for radius:"))
area = 3.14*r**2
print("area of circle is:",area)

enter the value for radius:2
area of circle is: 12.56

In [ ]:
#Convert Celsius to Fahrenheit.

celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 33.1
Temperature in Fahrenheit: 91.58000000000001

In [ ]:
#Check if a number is even or odd using the modulo operator.
n = int(input("enter a number"))
if n%2==0:
    print("even")
else:
    print("odd")

enter a number45
odd

In [ ]:
#Find the square and cube of a number.
n = int(input("enter a number"))
print("square of number is:",n**2)
print("cube of number is:",n**3)

enter a number5
square of number is: 25
cube of number is: 125

In [ ]:
s = input("Enter a string: ")
count = 0
for char in s:
    count += 1
print("Length of string is:", count)

Enter a string: mushroom
Length of string is: 8

In [ ]:
#Reverse a string(1).
s = input("enter a string:")
print("reverse of string is:",s[::-1])

enter a string:book
reverse of string is: koob

In [ ]:
#Reverse a string(2).
s = input("Enter a string: ")
reversed_s = ""
for char in s:
    reversed_s= char + reversed_s
print("Reverse of string is:", reversed_s)

Enter a string: kite
Reverse of string is: etik

In [ ]:
#Check if a string is a palindrome(1).
s = input("Enter a string: ")
if s == s[::-1]:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter a string: LOL
String is palindrome

In [ ]:
#Check if a string is a palindrome.(2)
s = input("Enter a string: ")
reversed_string = ""
for char in s:
    reversed_string = char + reversed_string

if s == reversed_string:
    print("String is palindrome")
else:
    print("String is not palindrome")

Enter a string: game
String is not palindrome

In [ ]:
#Count vowels in a given string.
s = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0

for char in s:
    if char in vowels:
        count += 1

print("Number of vowels in the string:", count)

Enter a string: engineering
Number of vowels in the string: 5

In [ ]:
#Concatenate two strings and print the result.
a = input("enter a string:")
b = input("enter a string:")
print("concatenated string is:",a+b)

enter a string:he
enter a string:llo
concatenated string is: hello

In [ ]:
# Create a list of 5 numbers
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num

print("Sum of the numbers is:", total)

Sum of the numbers is: 150

In [ ]:
#Find the largest and smallest number in a list.
numbers = [10, 20, 103, 40, 50]
largest = numbers[0]
smallest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num
    elif num < smallest:
        smallest = num

print("Largest number is:", largest)
print("Smallest number is:", smallest)

Largest number is: 103
Smallest number is: 10

In [ ]:
#Check if a specific element exists in a list.
numbers = [10, 20, 103, 40, 50]
element = 103

if element in numbers:
    print("Element exists in the list")
else:
    print("Element does not exist in the list")

Element exists in the list

In [ ]:
#Convert a tuple to a list and vice versa.
# Tuple to List
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Tuple converted to list:", my_list)

# List to Tuple
new_list = [10, 20, 30, 40]
new_tuple = tuple(new_list)
print("List converted to tuple:", new_tuple)

Tuple converted to list: [1, 2, 3, 4, 5]
List converted to tuple: (10, 20, 30, 40)

In [ ]:
#Sort a list in ascending order.
numbers = [10, 104, 103, 40, 50]
numbers.sort()
print("Sorted list in ascending order:", numbers)

Sorted list in ascending order: [10, 40, 50, 103, 104]

In [ ]:
#Create a dictionary with name and age of 3 people. Print each person's name.
person1 = {"name": "Alice", "age": 20}
person2 = {"name": "Bob", "age": 23}
person3 = {"name": "Charlie", "age": 19}
print("Name of person1:", person1["name"])
print("Name of person2:", person2["name"])
print("Name of person3:", person3["name"])

Name of person1: Alice
Name of person2: Bob
Name of person3: Charlie

In [ ]:
#Add a new key-value pair to a dictionary.
person1 = {"name": "Alice", "age": 20}
person1["city"] = "Belgavi"
print("Updated dictionary:", person1)

Updated dictionary: {'name': 'Alice', 'age': 20, 'city': 'Belgavi'}

In [ ]:
#Check if a key exists in a dictionary(1).
person1 = {"name": "Alice", "age": 20}
if "name" in person1:
    print("Key 'name' exists in the dictionary")
else:
    print("Key 'name' does not exist in the dictionary")

Key 'name' exists in the dictionary

In [ ]:
#Check if a key exists in a dictionary(2).
person1 = {"nick_name": "Alice", "age": 20}
if "name" in person1:
    print("Key 'name' exists in the dictionary")
else:
    print("Key 'name' does not exist in the dictionary")

Key 'name' does not exist in the dictionary

In [ ]:
#Find the union and intersection of two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
print("Union of sets:", union_set)
print("Intersection of sets:", intersection_set)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of sets: {4, 5}

In [ ]:
#Remove duplicates from a list using a set.
my_list = [1, 2, 2, 3, 0, 0 , 4, 4, 5]
unique_list = list(set(my_list))
print("List with duplicates removed:", unique_list)

List with duplicates removed: [0, 1, 2, 3, 4, 5]

In [ ]:
#Check if a number is positive, negative, or zero.
n = int(input("enter a number"))
if n>0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

enter a number0
zero

In [ ]:
#Check if a year is a leap year.
#not getting this (repeat)
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(year, "is a leap year")

Enter a year: 2022

In [ ]:
# Find the maximum of 3 numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a > b:
    max = a
else:
    max = b

if c > max:
    max = c


print("Maximum number is:", max)

Enter first number: 45
Enter second number: 1000
Enter third number: 20939
Maximum number is: 20939

In [ ]:
#Check if a number is divisible by both 3 and 5.

num = int(input("Enter a number: "))

if num % 3 == 0 and num % 5 == 0:
    print("The number is divisible by both 3 and 5.")
else:
    print("The number is NOT divisible by both 3 and 5.")

Enter a number: 15
The number is divisible by both 3 and 5.

In [ ]:
#Write a calculator that performs +, -, *, / based on user input.

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Choose an operation: +  -  *  /")
operator = input("Enter operator: ")

if operator == "+":
    result = num1 + num2
    print("Result:", result)

elif operator == "-":
    result = num1 - num2
    print("Result:", result)

elif operator == "*":
    result = num1 * num2
    print("Result:", result)

elif operator == "/":
    if num2 != 0:
        result = num1 / num2
        print("Result:", result)
    else:
        print("Error: Cannot divide by zero.")

else:
    print("Invalid operator.")

Enter first number: 1
Enter second number: 3
Choose an operation: +  -  *  /
Enter operator: *
Result: 3.0

In [ ]:
#Check if a person is eligible to vote (age >= 18).
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 20
You are eligible to vote.

In [ ]:
#Check if a number is in a specific range (10 to 50).
num = int(input("Enter a number: "))

if 10 <= num <= 50:
    print("The number is in the range of 10 to 50.")

Enter a number: 47
The number is in the range of 10 to 50.

In [ ]:
#Check if two variables point to the same object using is.
a = [1, 2, 3]
b = a
c = [1, 2, 3]

print(a is b)
print(a is c)

True
False

In [ ]:
#Use not to invert a Boolean condition.
is_sunny = True

# Invert the condition
if not is_sunny:
    print("It is not sunny.")
else:
    print("It is sunny.")

It is sunny.

In [ ]:
#Write an expression using and and or to check multiple conditions.
age = int(input("Enter your age: "))
has_ticket = input("Do you have a ticket? (yes/no): ") == "yes"
has_vip_pass = input("Do you have a VIP pass? (yes/no): ") == "yes"

if age >= 18 and (has_ticket or has_vip_pass):
    print("You are allowed to enter.")
else:
    print("Access denied.")

Enter your age: 20
Do you have a ticket? (yes/no): yes
Do you have a VIP pass? (yes/no): no
You are allowed to enter.
Enter your age: 20
Do you have a ticket? (yes/no): no
Do you have a VIP pass? (yes/no): yes
You are allowed to enter.